@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: rgb(201, 255, 162);
    font-family: 'Inter', sans-serif;
}

.text-center {
    text-align: center;
}
.coolbutton {
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius: 9999px;
    color: rgb(201, 255, 162);
    background-color:rgb(29, 29, 29);
    font-family: 'Inter', sans-serif;
    border-width: 4px;
    border-color: rgb(44, 44, 44);
    
}
.coolbutton:hover {
    background-color:rgb(16, 68, 16);
    border-color: rgb(21, 97, 21);
}
.coolbutton:active {
    background-color:rgb(30, 122, 30);
    border-color: rgb(77, 203, 77);
}

a {
    color: white;
}
.sticky {
    position: sticky;
    top: 0;
  }
